<!-- Icons Grid -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="<%= @page.catch_one_icon %> m-auto text-primary"></i>
          </div>
          <h3 class="catch_one">
            <%= @page.catch_one_title %>
          </h3>
          <p class="lead mb-0">
            <%= @page.catch_one_short_description %>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="<%= @page.catch_two_icon %> m-auto text-primary"></i>
          </div>
          <h3 class="catch_one">
            <%= @page.catch_two_title %>
          </h3>
          <p class="lead mb-0">
            <%= @page.catch_two_short_description %>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="<%= @page.catch_three_icon %> m-auto text-primary"></i>
          </div>
         <h3 class="catch_one">
            <%= @page.catch_three_title %>
          </h3>
          <p class="lead mb-0">
            <%= @page.catch_three_short_description %>
          </p>
        </div>
      </div>
    </div>
  </div>
